*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homePage{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.homeNavContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.header{
  font-size: 2rem;
  font-weight: bold;
  color: #3097F6;
}

.subHeader{
  letter-spacing: 1px;
  color: #898989;
}

.homePagePortalContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usersOnlineContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
}

.usersOnlineHeader{
  color: #898989;
  padding-bottom: 4px;
  font-weight: 600;
}

.usersOnlineListContainer{
  background-color: #F1F1F1;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
}

.userAvatar{
  border-radius: 50%;
  /* background-color: #3097F6; */
  width: 40px;
  height: 40px;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
  /* font-size: 0px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  position: relative;
}

/* .userAvatar:hover{
  width: 100px;
  border-radius: 8px;
  font-size: 18px;
} */

.userInfoCardBackground{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userInfoContainer{
  width: 60%;
  overflow: hidden;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.212) 1px 1px 10px;
  padding: 16px;
}

.userInfoContainerGrid{
  width: 100%;
  overflow: hidden;
  color: black;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 8px;
}

.userInfoContainerCloseBtn{
  align-self: flex-end;
  cursor: pointer;
  color: #3097F6;
}

.infoRow{
  display: flex;
  flex-direction: row;
}

.infoTitle{
  font-weight: 600;
  padding-right: 14px;
}
.infoValue{
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* background-color: red; */
}

.infoKeyCopyBtn{
  margin-left: 8px;
  cursor: pointer;
  color: #3097F6;
  transition: transform 0.2s ease;
}

.infoKeyCopyBtn:hover{
  transform: rotate(-8deg);
}

.infoKeyCopyBtn:active{
  transform: translateY(-5px);
}

.payAndAccountContainer, .mempoolBoxContainer, .blockchainBoxContainer{
  width: 90%;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}


.payOuterContainer, .mempoolOuterContainer, .blockchainOuterContainer{
  flex: 1;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  padding: 4px;
  margin-right: 12px;
  align-self: stretch;
}

.mempoolOuterContainer{
  overflow-x: hidden;
}

.accountOuterContainer{
  min-width: 0;
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 4px;
  align-self: stretch;
  margin-left: 12px;
}

.payHeader, .accountHeader, .mempoolHeader, .blockchainHeader{
  color: #898989;
  padding-bottom: 4px;
  font-weight: 600; 
}

.payForm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 12px;
  padding: 12px;
  background-color: #F1F1F1;
  border-radius: 8px;
}

.inputLabel{
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #515151;
}

.payToInput, .payAmountInput{
  padding: 12px 12px;
  outline: none;
  border: none;
  background-color: white;
  font-size: 18px;
  border-radius: 8px;
  min-width: 20px;
}

.payBtn{
  display: flex;
  justify-content: center;
  padding: 12px 12px;
  outline: none;
  border: none;
  background-image: linear-gradient(145deg, #328CF5, #49A4F9);
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 8px;
  grid-column: 1 / span 2;
  font-family: 'Poppins', sans-serif;
}

.accountCardContainer{
  flex: 1;
  width: 100%;
  border-radius: 8px;
  background-image: linear-gradient(145deg, #328CF5, #49A4F9);
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.walletContainer, .accountNumberContainer{
  display: flex;
  flex-direction: column;
}

.walletHeader, .accountNumberHeader{
  color: white;
}

.walletValueContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.walletValue{
  font-weight: 900;
  color: white;
  font-size: 3rem;
}

.walletValueUnit{
  font-weight: 500;
  color: white;
  font-size: 1.2rem;
}

.accountPublicKeyWithCopy{
  display: flex;
}

.accountNumberValue{
  flex: 1;
  font-weight: 700;
  color: white;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.myKeyCopyBtn{
  margin-left: 8px;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease;
}

.myKeyCopyBtn:hover{
  transform: rotate(-8deg);
}

.myKeyCopyBtn:active{
  transform: translateY(-5px);
}

.mempoolInnerContainer, .blockchainInnerContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 12px;
  background-color: #F1F1F1;
  border-radius: 8px;
  overflow-x: scroll;
}

.mempoolHeaderContainer, .blockchainHeaderContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.mineBtn{
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 12px 12px;
  outline: none;
  border: none;
  background-image: linear-gradient(145deg, #328CF5, #49A4F9);
  color: white;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 8px;
  grid-column: 1 / span 2;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 8px;
}

/* Let's get this party started */
.mempoolInnerContainer::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.mempoolInnerContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3); 
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
.mempoolInnerContainer::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.226); 
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.192); 
}

.mempoolInnerContainer::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

.mempoolTransactionCardContainer{
  width: 230px;
  padding-right: 12px;
}

.transactionCard{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 4px;
  border-bottom: #3097F6 6px solid;
  transition: all 0.4s ease;
  cursor: pointer;
}

.transactionCard:hover{
  transform: translateY(-5px);
  box-shadow: #00000034 1px 1px 10px;
}

.transactionCardHeader{
  color: #292929;
  font-weight: 500; 
}

.transactionCardValue{
  color: #898989;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
}

