<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trasaction</title>
</head>
<body>
    <form method="POST" action="/add_transaction">
        <input type="text" name="sender" placeholder="sender" />
        <input type="text" name="receiver" placeholder="receiver" />
        <input type="text" name="amount" placeholder="amount" />
        <button type="submit">Add a transaction</button>
    </form>
</body>
</html>